.header
{
    width: 100%;
    overflow: hidden;
    height: 70px;
    border-bottom: 1px solid #eee;
    padding: 0 100px;
    box-sizing: border-box;
    margin-bottom: 110px;
}

.header__logo
{
    float: left;
}

.header__logo a
{
    display: inline-block;
    margin: 22px 0;
    text-decoration: none;
}

.header__logo a span
{
    font-size: 24px;
}

.header__nav
{
    float: right;
    overflow: hidden;
}

.header__nav > a
{
    float: left;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 26px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJNNSAzTDQgMEgwdjJoMmwzIDkgOC45LTIuNlMxNSA4LjIgMTUgNi44VjNINXoiIGZpbGw9IiMzNjdCRjIiLz48Y2lyY2xlIGZpbGw9IiMyMDIwMjAiIGN4PSIxMS43IiBjeT0iMTMuNyIgcj0iMS4zIi8+PGNpcmNsZSBmaWxsPSIjMjAyMDIwIiBjeD0iNC43IiBjeT0iMTMuNyIgcj0iMS4zIi8+PC9nPjwvc3ZnPg==') center no-repeat;
}

.personal
{
    display: inline-block;
    float: right;
}

.personal__img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc url('../img/babka.jpg') center no-repeat;
    background-size: cover;
    margin: 10px;
}

.personal__name
{
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
}

.personal__name::first-letter,
.header__logo a:first-of-type:first-letter,
.personal:hover .personal__name
{
    color: red;
}

.sidebar
{
    height: 70px;
    box-shadow: 0 0 50px 10px rgba(0,0,0,.05);
    margin-bottom: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}

.content-in
{
    margin: 0 100px;
    position: relative;
}

.output_t,
.output_l
{
    display: none;
}

.label_out
{
    position: absolute;
    height: 52px;
    width: 71px;
    background: url('../img/btn.png') no-repeat;
    top: -100px;
    right: 0;
    cursor: pointer;
}

.label_out_t
{
    right: 70px;
    background-position: 0 0;
}

.output_t:checked ~ .label_out_t
{
    background-position: 0 0;
}

.label_out_l,
.output_t:checked ~ .label_out_l
{
    background-position: -70px 0;
}

.output_t:checked ~ .cat-item
{
    width: 32.6%;
    margin-right: 1%;
    margin-bottom: 10px;
}

.output_t:checked ~ .cat-item:nth-of-type(3n)
{
    margin-right: 0;
}

.output_l:checked ~ .label_out_l
{
    background-position: -70px -54px;
}

.output_l:checked ~ .label_out_t
{
    background-position: 0 -54px;
}

.output_l:checked ~ .cat-item
{
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.output_l:checked ~ .cat-item .cat-item__img
{
    width: 30%;
    display: inline-block;
}

.output_l:checked ~ .cat-item .cat-item__name,
.output_l:checked ~ .cat-item .cat-item__rating,
.output_l:checked ~ .cat-item .cat-item__price,
.output_l:checked ~ .cat-item .cat-item__desc
{
    width: 10%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.output_l:checked ~ .cat-item .cat-item__rating
{
    width: 15%;
}

.output_l:checked ~ .cat-item .cat-item__desc
{
    width: 24%;
}

.cat-item__desc table
{
    white-space: normal;
}

.cat-item__desc td
{
    width: 40%;
}

.cat-item
{
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    -webkit-transition: box-sizing .1s ease-in-out, box-shadow .1s ease-in-out;
    transition: box-sizing .1s ease-in-out, box-shadow .1s ease-in-out;
}

.cat-item:hover
{
    box-sizing: border-box;
    box-shadow: 0 0 14px rgba(0,0,0,.5);
}

.cat-item__img
{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.cat-item__img img
{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    -webkit-transition: opacity 2s linear;
    transition: opacity .2s linear;
}

.cat-item__img img:first-of-type
{
    opacity: 1;
}

.cat-item:hover .img-1-1
{
    -webkit-animation: img_1_anim 9s linear 0s infinite;
    animation: img_1_anim 9s linear 0s infinite;
}

.cat-item:hover .img-1-2
{
    -webkit-animation: img_1_anim 9s linear 3s infinite;
    animation: img_1_anim 9s linear 3s infinite;
}

.cat-item:hover .img-1-3
{
    -webkit-animation: img_1_anim 9s linear 6s infinite;
    animation: img_1_anim 9s linear 6s infinite;
}

.cat-item__img input[type='radio']
{
    display: none;
}

.cat-item__img label
{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 10px;
    border-radius: 4px;
    border: 2px solid red;
    z-index: 10;
    cursor: pointer;
    box-sizing: border-box;
}

.cat-item__img .label-radio-1
{
    margin-left: -60px;
}

.cat-item__img .label-radio-3
{
    margin-right: 60px;
    margin-left: 30px;
}

.cat-item__img input[type='radio']:checked + label,
.cat-item__img input[type='radio']:checked ~ img
{
    background: red;
    -webkit-animation: none;
    animation: none;
}

.radio-1-1:checked ~ .img-1-1
{
    opacity: 1;
    -webkit-animation: none;
    animation: none;
}

.radio-1-2:checked ~ .img-1-2
{
    opacity: 1;
    -webkit-animation: none;
    animation: none;
}

.radio-1-3:checked ~ .img-1-3
{
    opacity: 1;
    -webkit-animation: none;
    animation: none;
}

.cat-item__name,
.cat-item__rating,
.cat-item__price,
.cat-item__desc
{
    margin: 10px 20px;
    white-space: nowrap;
}

.cat-item__name a,
.cat-item__name strong,
.cat-item__name p,
.cat-item__rating p,
.cat-item__price p
{
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0 0;
    line-height: 1;
    -webkit-transition: text-indent .1s ease-in-out;
    transition: text-indent .1s ease-in-out;
}

.cat-item__name a
{
    font-size: 20px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.cat-item__name a:hover
{
    text-indent: 10px;
}

.cat-item__name p
{
    margin: 0;
}

.cat-item__name p span
{
    margin-top: 10px;
    margin-left: 0;
    display: block;
    -webkit-transition: text-indent .1s ease-in-out;
    transition: text-indent .1s ease-in-out;
}

.cat-item__name p span:hover
{
    text-indent: 10px;
}

.cat-item__desc ul
{
    padding: 0;
}

.cat-item__desc ul li
{
    margin: 6px 0;
    white-space: normal;
}

.cat-item__desc li strong,
.cat-item__desc li p
{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0;
}

.rating
{
    position: relative;
    height: 40px;
}

.rating input[type='radio']
{
    display: none;
}

.rating .star-l,
.rating .star-r
{
    position: absolute;
    width: 15px;
    height: 30px;
    display: block;
    background: url('../img/star.svg') center no-repeat;
    background-size: 30px 60px !important;
    cursor: pointer;
}

.rating .star-l
{
    background-position: 0 -30px;
}

.rating .star-r
{
    background-position: -15px -30px;
}

.star:checked ~ .star-l,
.rating .star-l:hover,
.rating .star-l:hover ~ .star-l,
.rating .star-r:hover ~ .star-l
{
    background-position: 0 0;
}

.rating .star-1-r
{
    left: 15px;
}

.star:checked ~ .star-r,
.rating .star-r:hover,
.rating .star-r:hover ~ .star-r,
.rating .star-l:hover ~ .star-r
{
    background-position: -15px 0;
}

.rating .star-2-l
{
    left: 35px;

}

.rating .star-2-r
{
    left: 50px;
}

.rating .star-3-l
{
    left: 70px;

}

.rating .star-3-r
{
    left: 85px;
}

.rating .star-4-l
{
    left: 105px;

}

.rating .star-4-r
{
    left: 120px;
}

.rating .star-5-l
{
    left: 140px;
}

.rating .star-5-r
{
    left: 155px;
}

@-webkit-keyframes img_1_anim
{
    0%
    {
        opacity: 0;
    }
    5%
    {
        opacity: 1;
    }
    32%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes img_1_anim
{
    0%
    {
        opacity: 0;
    }
    5%
    {
        opacity: 1;
    }
    32%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}

@media screen and (max-width: 1024px)
{
    .output_t:checked ~ .cat-item
    {
        width: 49.5%;
        margin-right: 1%;
        margin-bottom: 10px;
    }

    .output_t:checked ~ .cat-item:nth-of-type(3n)
    {
        margin-right: 1%;
    }

    .output_t:checked ~ .cat-item:nth-of-type(2n)
    {
        margin-right: 0;
    }
}
