html,
body
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: #fff;
}

html
{
    line-height: 1;
}

body
{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

ol,
ul
{
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span,
b,
div
{
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
.h1
{
    font-size: 22px;
}

h2,
.h2
{
    font-size: 20px;
}

h3,
.h3
{
    font-size: 18px;
}

h4,
h5,

h6,
.h4,
.h5,
.h6
{
    margin-top: 0;
    margin-bottom: 0;
}

h4,
.h4
{
    font-size: 16px;
}

h5,
.h5
{
    font-size: 15px;
}

h6,
.h6
{
    font-size: 14px;
}
