@import url('https://fonts.googleapis.com/css?family=Philosopher');

.wrapper
{
    border-top: 2px solid #000;
    margin-top: 20px;
}

.mode:checked ~ .wrapper .card
{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.mode:checked ~ .wrapper .card > .cat-img
{
    float: left;
    width: 30%;
    margin-right: 20px;
}

.card
{
    width: 350px;
    display: inline-block;
    font-family: 'Philosopher', cursive;
    padding: 10px;
    overflow: hidden;
    vertical-align: top;
}

.card:hover
{
    box-shadow: 0 0 10px 5px #540a00;
}

.cat-img
{
    width: 100%;
    -moz-transition: all 1s ease-out;
    transition: transform 1s ease-out;
}

.cat-img:hover
{
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.rating
{
    width: 120px;
    height: 50px;
    background: url('images/empty_star.png') repeat-x;
}

.stars
{
    height: 50px;
    background: url('images/star.png') repeat-x;
}

.rating5
{
    width: 120px;
}

.rating4
{
    width: 96px;
}

.rating3
{
    width: 72px;
}

.rating2
{
    width: 48px;
}

.rating1
{
    width: 24px;
}

.price
{
    color: #8b0000;
    font-weight: 900;
    font-size: 1.2em;
}

.old-price
{
    text-decoration: line-through;
    background-color: inherit;
    font-size: .8em;
}

.name
{
    font-size: 1.2em;
}

p,
h3
{
    margin: 0 0 5px;
}

.category
{
    text-decoration: underline;
}

.category:hover
{
    font-style: italic;
}

a:hover
{
    font-weight: bold;
}
