.catBlock
{
    display: inline-block;
    margin: 20px 10px;
    text-align: center;
    vertical-align: top;
    width: 250px;
    height: 500px;
    padding: 5px;
}

main p
{
    text-align: left;
}

.strikeout
{
    text-decoration: line-through;
}

.name
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price
{
    color: #b5030f;
    font-weight: 600;
    font-size: 110%;
}

.catBlock:hover 
{
    border: 1px solid;
    border-color: #cfb0d5;
    box-shadow: 0 0 30px;
}

.mainPicture
{
    opacity: .8;
}

.mainPicture:hover
{
    opacity: 1;
}

.name:hover
{
    background-color: #cfb0d5;
}

.breed:hover
{
    color: #8d369e;
}

.changeLook:checked ~ .catBlock 
{
    width: 1000px;
    height: 100%;
    min-width: 700px;
    text-align: left;

}

.changeLook:checked ~ .catBlock div
{
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}
