@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

main > div
{
    margin: 2%;
    width: 20%;
    display: inline-block;
    border: 2px dashed black;
    vertical-align: top;
    min-height: 300px;
    min-width: 380px;
}

.info
{
    margin: 0 2%;
}

img
{
    min-height: 200px;
    display: block;
    text-align: center;
    width: 70%;
    margin: 5% auto;
}

span
{
    text-decoration: line-through;
}

a
{
    text-align: center;
    color: #f85c37;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 24px;
}

p > input
{
    display: none;
}

p > label:nth-child(2n):before
{
    font-family: FontAwesome, fantasy;
    font-size: 40px;
    content: '\f006';
}

.stars
{
    text-align: center;
}

.fa-star-o
{
    font-size: 40px !important;
}

main > div:hover
{
    border: 2px solid black;
}

.line-mode:checked ~ main > div
{
    display: block;
    width: 96%;
}

.line-mode:checked ~ main > div > img
{
    display: inline-block;
    margin: 2%;
    width: 33%;
}

.line-mode:checked ~ main > div > .info
{
    margin: 0;
    margin-top: 2%;
    font-size: 24px;
    vertical-align: top;
    display: inline-block;
    width: 60%;
}

.line-mode:checked ~ main > div > .info > a
{
    font-size: 34px;
}
